<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=institute-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>在线课堂后台</title>
    <link rel="stylesheet" href="layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="layui/css/modules/laydate.default/laydate.css"
          th:href="@{/layui/css/modules/laydate.default/laydate.css}" media="all"/>
    <!-- Jquery Js -->
    <script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <!-- Layui Js -->
    <script type="text/javascript" src="layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <!-- Jqarticle Js -->
    <script type="text/javascript" src="js/jparticle.min.js" th:src="@{/js/jparticle.min.js}"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">在线课堂后台</div>
        <ul class="layui-nav  layui-layout-left">
            <li class="layui-nav-item"><a href="/homePage"><i class="layui-icon layui-icon-home"></i>主页</a></li>
            <li class="layui-nav-item"><a href="/runningStatus"><i class="layui-icon layui-icon-read"></i>课程管理</a></li>
            <li class="layui-nav-item"><a href="/application"><i class="layui-icon layui-icon-star-fill"></i>我的收藏</a>
            </li>
            <li class="layui-nav-item"><a href="/deviceManage"><i class="layui-icon layui-icon-notice"></i>我的消息</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">[[${user?.uname}]]，欢迎登录本系统！</li>
            <li class="layui-nav-item"><a href="/logout"><i class="layui-icon layui-icon-radio"></i>退出登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-friends"></i>教师模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/setScore"><i class="layui-icon layui-icon-form"></i>成绩评分</a></dd>
                        <dd><a href="/application"><i class="layui-icon layui-icon-add-1"></i>申请开课</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:"><i class="layui-icon layui-icon-friends"></i>管理员模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/examine"><i class="layui-icon layui-icon-list"></i>课程审批</a></dd>
                        <dd><a href="/all"><i class="layui-icon layui-icon-group"></i>用户管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/user/toUpdate"><i
                        class="layui-icon layui-icon-edit"></i>修改资料</a></li>
                <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-release"></i>发布消息</a></li>
            </ul>
        </div>
    </div>
    <!-- 主页菜单栏结束-->

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-fluid">
            <div class="layui-col-md7 ">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>待处理课程</legend>
                </fieldset>
                <table class="layui-hide" id="examineList" lay-filter="examine"></table>
                <script type="text/html" id="examine">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="pass" id="pass">通过</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="fail" id="fail">不合格</a>
                </script>
            </div>

            <div class="layui-col-md5 ">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>新增学院</legend>
                </fieldset>
                <label class="layui-form-label">学校名称：</label>
                      [[${user?.school}]]
                </div>
                <!--表单1:添加学院-->
                <br><br><br>
                <form action="/institute/toAdd" class="layui-form" role="form" method="post" name="form"
                      lay-filter="filter">
                    <div class="layui-form-item">
                        <label class="layui-form-label">学院名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="iname" id="iname" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="demoTable">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit="" name="add" data-type="reload"
                                        id="demoReload" lay-filter="addInstitute">添加
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>发送公告</legend>
                </fieldset>
                <form action="/messages" class="layui-form" role="form" method="post" name="mess"
                      lay-filter="mess">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </form>

            <div class="layui-progress">
                <div class="layui-progress-bar layui-bg-cyan" lay-percent="100%"></div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>信息总览</legend>
            </fieldset>
            <table class="layui-hide" id="overall" lay-filter="overall"></table>

            </div>
        </div>


    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 友情链接： <a href="https://www.icourse163.org/">中国大学MOOC</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://ke.qq.com/">腾讯课堂</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://study.163.com/">网易课堂</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>

<script>

    var use = layui.use(['layer', 'table', 'element', 'form', 'laydate'], function () {
        var table = layui.table //表格
            , layer = layui.layer
            , form = layui.form //表单
            , element = layui.element //元素操作
            , layDate = layui.laydate;




        // 待处理课程列表
        table.render({
            elem: '#examineList'
            , url: '/examineList' //数据接口： @RequestMapping中的value="/list"
            , totalRow: true //开启合计行
            , toolbar: 'default'
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 0 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , cols: [
                [
                    {field: 'id', width: 40, title: 'No.', sort: true, fixed: true}
                    , {field: 'courseNum', width: 90, title: '课程编号'}
                    , {field: 'cname', width: 140, title: '课程名称'}
                    , {field: 'school', width: 140, title: '学校名称'}
                    , {field: 'institute', width: 120, title: '学院名称'}
                    , {field: 'startDate', width: 170, title: '开始日期'}
                    , {field: 'endDate', width: 170, title: '结束日期'}
                    , {fixed: 'right', width: 50, align: 'center', toolbar: '#examine'}
                ]
            ]
            , id: 'examine'
            , height: 648
        });

        // 分数统计总览
        table.render({
              elem: '#overall'
            , url: '/overall'
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 0 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , cols: [
                [
                      {field: 'courseNum', width: 213.83, title: '累积开设课程数'}
                    , {field: 'unPass', width: 213.83, title: '待审核数'}

                ]
            ]
            , id: 'overall'
            , height: 90

        });
        // table操作结束

        // 重载"已审批课程列表"
        var $1 = layui.$, active = {
            reload: function () {
                var teacher = $('#teacher');
                var school = $('#school');
                //执行重载
                table.reload('testReload', {
                    where: {
                        teacher: teacher.val(),
                        school: school.val()
                    }
                }, 'data');
            }
        };

        $1('#delete .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $1('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


        //监听行工具事件
        table.on('tool(course)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event//获得 lay-event 对应的值
                , hid = data['id'];//获取当前行数据的id值传入给url中
            if (layEvent === 'del') {
                layer.confirm('确认要删除吗？', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                    location.href = '/course/delete?id=' + hid;
                });
            }
            <!--  导航 依赖 element 模块，否则无法进行功能性操作-->
            //监听导航点击
            element.on('nav(demo)', function (elem) {
                layer.msg(elem.text());
            });
        });
    });
    <!--数据显示结束-->
</script>
</body>
</html>
